<f:layout name="Default" />

<f:section name="Title">Edit entry "{entry.name}"</f:section>

<f:section name="Content">
	<f:form action="update" object="{entry}" name="entry">
		<ol>
			<li>
				<label for="date">Date</label>
				<f:form.textfield type="datetime" value="{entry.date -> f:format.date(format: 'Y-m-d\TH:i:sP')}" property="date" id="date" />
			</li>
		
			<li>
				<label for="author">Author</label>
				<f:form.textfield property="author" id="author" />
			</li>
		
			<li>
				<label for="email">Email</label>
				<f:form.textfield property="email" id="email" />
			</li>
		
			<li>
				<label for="content">Content</label>
				<f:form.textfield property="content" id="content" />
			</li>
		
			<li>
				<f:form.submit value="Update"/>
			</li>
		</ol>
	</f:form>
</f:section>